.navbar {
  display: flex;
  justify-content: space-between; /* Para separar el logo de los botones */
  align-items: center;
  width: 1110px;
  height: 80px;
  border-bottom: solid #fff 1px;
  margin: 0 auto; /* Centrar horizontalmente el navbar si es necesario */
  @include desktop2 {
    width: 800px;
  }
  @include mobile320{
    width:250px;
   position: relative;
 
  
   flex-direction: column;
   height: auto;
  }
}

.logo-container {
  flex-shrink: 0; /* Evitar que el logo se reduzca */
  height: 45px;
  @include mobile320{
        text-align: center;
    
  }
  .logo {
    height: 100%;
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins";
    @include mobile320{
      font-size: 20px;
      
        
        width: 100%;
      
    }
    .logo-span {
      color: #ffa500;
    }
  }
}

.btn-container {
  display: flex;
  gap: 34px;
  
  @include mobile320{
    gap: 10px;
  }
}

.nav-btn {
  cursor: pointer;
  background: none;
  border: hidden;
  color: #fff;
  font-family: "Manrope";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include mobile320{
    font-size: 10px;
  }
  &:hover {
    color: #ffa500;
  }
}
.carrito-container {
  display: flex;
  gap: 20px;
}

.typing {
  width: 13ch;
  
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typing .5s steps(13, end),
    blink-caret 0.5s step-end infinite alternate;
    @include mobile320{
      animation: typing 900ms steps(300, end),
      blink-caret .2s step-end infinite alternate;
    }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}



