.productosPrincipales{
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 20px;
    gap: 100px;
    display: flex;
   @include mobile{
    flex-direction: column;
    padding-top: 0;
    justify-content: center;
    align-items: center;
   }
}
.producto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #f8f8f8; 
    padding: 30px;
    border-radius: 8px;
    width: 404px;
    height: 376;
    box-shadow: rgba(0, 0, 0, 0.195) 5px 5px 10px 1px;
    @include mobile{
        width: auto;
        height:auto ;
        padding: 0;
        width: 350px;
    }
    
    .servicios-img{
        height: 200px;
       
    }
    
    .producto-titulo{
        color: #000;
        text-align: center;
        font-family: monospace;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .servicios-p{
        text-align: center;
        font-family: monospace;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}