/* container de los servicios */
.servicios-container {
  justify-content: center;
  gap: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  @include mobile320 {
    flex-direction: column;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-bottom: 1%;
  }
}

/* servicio CARD */
.servicio-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 60%;
  text-align: center;
  background-color: #1e1d20;
  border-radius: 8px;
  @include mobile320 {
    padding: 0;
    width: 300px;
    height: 150px;
    flex-direction: column;
  }
  /* container del titulo del servicio */
.servicio-titulo-container{
   width: 700px;
   @include mobile320{
   width: 100%;
    text-align: center;
   }
   /* titulo del servicio */
    .servicio-titulo {
        color: #ffffff;
        margin-right: 150px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Work Sans';
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include mobile320{
          text-align: center;
          font-size: 18px;
          margin-right: 0;
          padding-bottom: 30%;
        }
      }
  }
 
  
  /* imagen del servicio */
  .servicios-img-1 {
    height: 250px;
    position: relative;
    left: -150px;
    top: -160px;
    @include mobile320{
      height: 80px;
      left: -10px;
      top: -5px;
    }
  }
  .servicios-img-2 {
    height: 250px;
    position: relative;
    right: -850px;
    top: -160px;
    @include mobile320{
      height: 80px;
      left: -10px;
      top: -5px;
    }
  }
  .servicios-img-3 {
    height: 250px;
    position: relative;
    left: -150px;
    top: -160px;
    @include mobile320{
      height: 80px;
      left: -10px;
      top: -5px;
    }
  }
}
/* parrafo del servicio */
.servicios-p-container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -150px;
    left: 400px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 5px;
    width: 500px;
    @include mobile320{
      left: -1px;
      top: -80px;
      width: 300px;
      height: auto;
      margin-top: 15%;
    }
    .servicios-p {
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        font-family: 'Work Sans';
        color: #000000;
        padding: 20px;
        @include mobile320{
          font-size: 14px;
          
        }
      }
      
}
.servicios-p-container-2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -150px;
  left: -400px;
  width: 300px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 10px 20px 5px;
  width: 500px;
  @include mobile320{
    left: -1px;
    top: -90px;
    width: 300px;
    height: auto;
    margin-top: 15%;
  }
  .servicios-p {
      text-align: center;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1px;
      font-family: 'Work Sans';
      color: #000000;
      padding: 20px;
      @include mobile320{
        font-size: 14px;
      }
    }
    
}
.servicios-p-container-3{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -150px;
  left: 400px;
  width: 300px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 10px 20px 5px;
  width: 500px;
  @include mobile320{
    left: -1px;
      top: -80px;
      width: 300px;
      height: auto;
      margin-top: 15%;
  }
  .servicios-p {
      text-align: center;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1px;
      font-family: 'Work Sans';
      color: #000000;
      padding: 20px;
      @include mobile320{
        font-size: 14px;
      }
    }
    
}